/* * Animation Styles * */

@keyframes slideRight {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideDown {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 10px;
  }
}

@keyframes openUp {
  from {
    max-width: 0%;
  }

  to {
    max-width: 90%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

@keyframes line-width {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 80%;
  }
}

@keyframes line-height {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 80px;
  }
}

@keyframes line-height-pseudo {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 60px;
  }
}
