/* * * Button Styles * * */

.btn-custom {
  color: #fff;
  background: rgba(175, 109, 96, 0.5);
}
.btn-custom:hover {
  color: #fff;
  background: rgba(175, 109, 96, 1.0);
  border: 1px solid #C1975D;
}
