/* * Section Styles * */

/* Index section */
.section-index {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  background: linear-gradient(rgba(112, 68, 58, 0.3), rgba(112, 68, 58, 0.3)), url("https://res.cloudinary.com/dud5wowp2/image/upload/v1505338106/zen-cover-2_hruf66.jpg");
  background-size: cover;

  .heading-block {
    display: inline-block;
    position: relative;
  }

  h1 {
    margin-bottom: 0;
    font-family: $font-title;
    font-weight: 700; // Bold
    font-size: 12.5em; // 200 ÷ 16
    color: #000;
    text-transform: uppercase;
    animation: appear 2s ease-in;
  }

  .line-h {
    display: block;
    width: 80%;
    height: 2px;
    margin-left: 90px;
    background: #fff;
    animation: line-width 2s;
  }

  .line-v {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 3px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    animation: line-height 3s;
  }
  .line-v::after {
    content: '';
    display: block;
    z-index: 2;
    width: 3px;
    height: 60px;
    margin-left: 10px;
    background: #000;
    animation: line-height-pseudo 3.5s;
  }

  .link-block {
    display: flex;
    justify-content: space-around;
    font-family: $font-title;
    font-size: 3em; // 48 ÷ 16
    text-transform: uppercase;

    a {
      color: #fff;
      @include link-underline-el();
      animation: appear 2.5s ease-in;
    }
    a:after {
      @include link-underline-pseudo(2px, solid, $earth-light, 0.4s);
    }
    a:hover {
      color: $earth-light!important;
    }
    a:hover:after {
      @include link-underline-pseudo-hov();
    }
  }
}

.section-index-b {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $earth-mid;
  padding: 2.50em; // 40 ÷ 16

  .haiku-box {
    padding: 1em 1.25em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 43.75em) {
      /* 700 ÷ 16 = 50 */
      width: 70%;
    }

    @media screen and (min-width: 68.75em) {
      /* 1100 ÷ 16 = 50 */
      width: 65%;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.650em; // 10 ÷ 16
      font-family: $font-title;
      font-size: 3em; // 48 ÷ 16
      font-weight: 700; // Bold
      text-transform: uppercase;
    }

    li.list-group-item {
      padding: 0;
      margin: 0.625em 0; // 10 ÷ 16

      a {
        @include link-underline-el();
        padding: 0.625em 0.938em;
        font-family: $font-base;
        font-size: 1em; // 16 ÷ 16
        text-transform: none;
        text-align: left;
        color: $earth-dark;
      }
      a:after {
        @include link-underline-pseudo(2px, solid, $earth-light, 0.4s);
      }
      a:hover {
        background: $green-light;
        color: $earth-light;
      }
      a:hover:after {
        @include link-underline-pseudo-hov();
      }
    }
    li.list-group-item:hover {
      border-color: $green-light;
    }

    a {
      display: block;
      font-family: $font-title;
      font-size: 2.25em; // 36 ÷ 16
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: $earth-light!important;
    }
  }
}

/* About section */
.section-about-heading {
  @include section-heading(rgba(175, 109, 96, 0.5), rgba(175, 109, 96, 0.5), "https://res.cloudinary.com/dud5wowp2/image/upload/v1507082063/about-cover_henlgx.jpg")

  h1 {
    @include section-heading-h1();
  }
}

.section-about-a {
  @include section-a(#fff);

  .container {
    @include container-a();
  }

  h2 {
    @include heading-a();
  }

  p {
    @include paragraph-a();
  }

  img {
    width: 70%;
    float: right;
  }

  span {
    display: block;
    float: right;
    width: 70%;
    text-align: center;
    font-family: $font-title;
    font-size: 1.125em; // 18 ÷ 16
    font-weight: 700; // Bold
  }
}

.section-about-b {
  @include section-a($earth-light);

  .container {
    @include container-a();
  }

  h2 {
    @include heading-a();
  }

  p {
    @include paragraph-a();
  }

  h3 {
    font-family: $font-title;
    font-size: 2.25em; // 36 ÷ 16
    font-weight: 700; // Bold
    text-transform: uppercase;
  }

  ol {
    font-family: $font-base;
  }
}

.section-about-c {
  @include section-a($earth-mid);

  .container {
    @include container-a();
  }

  h2 {
    @include heading-a();
  }

  p {
    @include paragraph-a();
  }
}

/* Queue section */
.section-queue-heading {
  @include section-heading(rgba(119, 150, 109, 0.5), rgba(119, 150, 109, 0.5), 'https://res.cloudinary.com/dud5wowp2/image/upload/v1507147420/queue-cover_eqmrnm.jpg');

  h1 {
    @include section-heading-h1();
  }
}

.section-queue-a {
  @include section-a(#fff);

  .container {
    @include container-a();
  }

  h2 {
    @include heading-a();
  }

  select {
    width: 25%;
    height: 30px;
    margin-right: 0.625em; // 10 ÷ 16
    font-family: $font-base;
  }

  button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-family: $font-base;
  }
}

.section-queue-b {
  @include section-a($earth-mid);
  min-height: 50vh;

  .container {
    @include container-a();
  }

  li.list-group-item {
    padding: 0;
    margin: 0.625em 0; // 10 ÷ 16

    a {
      @include link-underline-el();
      display: block;
      width: 100%;
      padding: 0.625em 0.938em;
      font-family: $font-base;
      font-size: 1em; // 16 ÷ 16
      text-transform: none;
      text-align: left;
      color: $earth-dark;
    }
    a:after {
      @include link-underline-pseudo(2px, solid, $earth-light, 0.4s);
    }
    a:hover {
      background: $green-light;
      color: $earth-light;
    }
    a:hover:after {
      @include link-underline-pseudo-hov();
    }
  }
  li.list-group-item:hover {
    border-color: $green-light;
  }
}

/* Add haiku section */
.section-add-haiku-heading {
  @include section-heading(rgba(68, 55, 48, 0.5), rgba(68, 55, 48, 0.5), 'https://res.cloudinary.com/dud5wowp2/image/upload/v1507327798/buson_gbdfos.jpg');
  background-position: center;

  h1 {
    @include section-heading-h1();
  }
}

.section-add-haiku-a {
  @include section-a(#fff);

  .container {
    @include container-a();
  }
}

/* Haiku section */
.section-haiku-heading {
  @include section-heading(rgba(232, 204, 165, 0.5), rgba(232, 204, 165, 0.5), 'https://res.cloudinary.com/dud5wowp2/image/upload/v1505509282/zen-cover-3_ze7ygv.jpg');
  background-position: center;

  h1 {
    @include section-heading-h1();
  }
}

.section-haiku-a {
  @include section-a(#fff);

  .container {
    @include container-a();
  }

  .haiku-img {
    width: 100%;
  }

  h2 {
    @include heading-a();
    margin-top: 0;
    margin-bottom: 0.313em; // 5 ÷ 16
  }

  hr {
    border-color: #000;
    margin: 2.50em 0; // 40 ÷ 16
  }

  .col-sm-8 {

    a {
      margin-bottom: 0.625em; // 10 ÷ 16
      font-family: $font-base;
      font-weight: 300; // Light
      font-size: 2.25em; // 36 ÷ 16
      color: #000;
    }

    p {
      @include paragraph-a();
    }
  }

  .haiku-wrapper {
    padding: 0.125em 0; // 20 ÷ 16

    p {
      margin: 0.625em 0; // 10 ÷ 16
      font-family: $font-title;
      font-weight: 700; // Bold
      font-size: 3em; // 48 ÷ 16
      text-align: center;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      margin-left: 0.625em; // 10 ÷ 16
    }
  }

  .praise-box {
    img {
      width: 50px;
    }

    span {
      margin-left: 0.625em; // 10 ÷ 16
      font-family: $font-title;

    }
  }
}

/* Profile section */
.section-profile-heading {
  @include section-heading(rgba(232, 204, 165, 0.5), rgba(232, 204, 165, 0.5), 'https://res.cloudinary.com/dud5wowp2/image/upload/v1507147910/profile-cover_fikv50.jpg');

  h1 {
    @include section-heading-h1();
  }
}

/* Register Section */
.section-register {
  @include section-header-pad();
  min-height: 100vh;
  background: linear-gradient(rgba(236, 213, 181, 0.5), rgba(236, 213, 181, 0.5)), url("../images/register-cover.jpg");
  background-size: cover;

  .register-block {

    @media screen and (min-width: 31.25em) {
      /* 500 ÷ 16 = 50 */
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 62.0em) {
      /* 992 ÷ 16 = 50 */
      width: 70%;
    }

    @media screen and (min-width: 75.0em) {
      /* 1200 ÷ 16 = 50 */
      width: 50%;
    }
  }
}

/* Login Section */
.section-login {
  @include section-header-pad();
  min-height: 100vh;
  background: linear-gradient(rgba(112, 68, 58, 0.3), rgba(112, 68, 58, 0.3)), url("../images/water-cover-2.jpg");
  background-size: cover;

  .login-block {
    width: 100%;

    @media screen and (min-width: 31.25em) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 62.0em) {
      width: 70%;
    }

    @media screen and (min-width: 75.0em) {
      width: 50%;
    }
  }

  .login-quote {
    display: flex;
    flex-direction: column;
    border-color: #C1975D;
    animation: slideRight 1s;

    @media screen and (min-width: 21.875em) {
      /* 350 ÷ 16 = 21.875 */
      flex-direction: row;
    }

    img {
      width: 75px;
      animation: slideRight 1.5s;

      @media screen and (min-width: 21.875em) {
        /* 350 ÷ 16 = 21.875 */
        width: 100px;
      }
    }
  }

  span.quote-lead {
    position: relative;
    padding-left: 2.5em;
    margin-top: 1.25em;

    @media screen and (min-width: 21.875em) {
      /* 350 ÷ 16 = 21.875 */
      margin-top: 0;
    }

    p {
      animation: slideDown 1s;
    }
  }

  span.quote-lead::before{
    font-family:Arial;
    content: "\201C";
    color:#AF6D60;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-20px;
  }

  .login-quote::after{
    content: '';
  }

  .quote-signature {
    font-style: italic;
  }
}
