extends default

block content
  section.section-about-heading
    .block-angled
    h1 #{title}
  section.section-about-a
    .container
      h2.heading-a-top Bashō, Buson, Issa
      .row
        .col-sm-7
          p.paragraph-a.
            These are the names of some of the earliest word masters who helped define
            and shape the timeless art of poetry we now know as "haiku." Originating
            as the opening stanza within Renga and Renku forms of Japanese poetry called 
            "hokku," it eventually broke away as its own independant form of poetry.
            Appreciated for their simplicity, directedness, and resourcefulness, haiku 
            possess a unique capacity for capturing brief moments in time that has been enjoyed
            for centuries.   
        .col-sm-5
          img(alt="Matsuo Basho Portrait", src="https://res.cloudinary.com/dud5wowp2/image/upload/v1507083896/basho_fdgbzy.jpg")
          span Matsuo Basho
  section.section-about-b
    .container
      h2.heading-a-top.text-center 
        span.strike-through Cutting 
        span Words
      p.paragraph-a.
        While writting haiku is a creative endeavor, haiku are typically idenitfied by a 
        few key characteristics. The essential nature of haiku is "cutting," or <span class='text-bold'>kiru</span>. A 
        <span class='text-bold'>cutting word</span> (<span class='text-bold'>kireji</span>) is often used to divide the poem into a juxtaposition of
        two ideas, images, or themes.
      br
      p.paragraph-a.
        Traditional haiku are comprised of <span class='text-bold'>17 morae</span> (loosely
        translated as "syllables"), in phrases of <span class='text-bold'>5, 7, 5</span>. An alternative form consists 
        of phrases in <span class='text-bold'>3, 5, 3</span>. Modern haiku often stray from these structures, and while 
        syllable counts are provided by Queue Haiku, they are in no way a requirement or 
        restriction.
      br
      p.paragraph-a.
        Lastly, a <span class='text-bold'>kigo</span>, or <span class='text-bold'>seasonal reference</span>, 
        is also frequently used. Don't be afraid to get creative!
      h2.heading-a.text-center How to Queue
      ol
        li <a href='/users/register'>Sign up</a> for an account or <a href='/users/login'>log in</a>
        li Think up an awesome haiku and <a href='/haikus/add'>add it</a> to the queue
        li Check out other haikus, give praise, edit your profile, go crazy!
  section.section-about-c
    .container
      h2.heading-a-top Daily Kiru For a Better You
      .row
        .col-sm-5
          img(alt="Basho Frog", src="http://res.cloudinary.com/dud5wowp2/image/upload/v1508267643/basho-frog_ptirgq.jpg")
        .col-sm-7
          p.paragraph-a.
            The physical and mental benefits of writting regularly are numerous. Poetry
            in particular helps us gain command of language, build a more robust vocabulary,
            as well as develop skills in imagery. Making a habit of writting daily is a great
            way to grow both emotionally and intellectually - and haiku are the perfect vehicle
            to get you there. 
