extends default

block content
  section.section-about-heading
    .block-angled
    h1 #{title}
  section.section-about-a
    .container
      h2.heading-a-top Bashō, Buson, Issa
      .row
        .col-sm-7
          p.paragraph-a.
            These are the names of some of the earliest word masters who helped define
            and shape the timeless art of poetry we now know as "haiku." Originating
            as the opening stanza within Renga and Renku forms of Japanese poetry called 
            "hokku," it eventually broke away as its own independant form of poetry.
            Appreciated for their simplicity, directedness, and resourcefulness, haikus 
            possess a unique capacity for capturing brief moments in time that has been enjoyed
            for centuries.   
        .col-sm-5
          img(alt="Matsuo Basho Portrait", src="https://res.cloudinary.com/dud5wowp2/image/upload/v1507083896/basho_fdgbzy.jpg")
          span Matsuo Basho
  section.section-about-b
    .container
      h2.heading-a-top.text-center 
        span.strike-through Cutting 
        span Words
      p.paragraph-a.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus 
        consequat odio. Suspendisse quis elit lorem. Nunc condimentum est eu felis 
        pellentesque, ut porttitor purus bibendum. Nulla pretium volutpat iaculis. 
        Praesent quis cursus lorem. Phasellus nec est sed diam viverra elementum id 
        sed turpis. Aenean id est eros.
      h2.heading-a.text-center How to Queue
      ol
        li Lorem Ipsum text about doing step 1. This  is important.
        li Lorem Ipsum more text about the next step in the process. Equaly important as before.
        li Lorem Ipsum the final stretch of text, here.
  section.section-about-c
    .container
      h2.heading-a-top Daily Kiru For a Better You
      .row
        .col-sm-5
          img(alt="Basho Frog", src="http://res.cloudinary.com/dud5wowp2/image/upload/v1508267643/basho-frog_ptirgq.jpg")
        .col-sm-7
          p.paragraph-a.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus 
            consequat odio. Suspendisse quis elit lorem. Nunc condimentum est eu felis 
            pellentesque, ut porttitor purus bibendum. Nulla pretium volutpat iaculis. 
            Praesent quis cursus lorem. Phasellus nec est sed diam viverra elementum id 
            sed turpis. Aenean id est eros.
          a(href='/users/register') Register
          a(href='/users/login') Login
