extends default

block content
  section.section-about-heading
    h1 #{title}
  section.section-about-a
    .container
      h2.heading-a-top Lorem Ipsum
      .row
        .col-sm-6
          p.paragraph-a.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus 
            consequat odio. Suspendisse quis elit lorem. Nunc condimentum est eu felis 
            pellentesque, ut porttitor purus bibendum. Nulla pretium volutpat iaculis. 
            Praesent quis cursus lorem. Phasellus nec est sed diam viverra elementum id 
            sed turpis. Aenean id est eros.
        .col-sm-6
          img(alt="Matsuo Basho Portrait", src="https://res.cloudinary.com/dud5wowp2/image/upload/v1507083896/basho_fdgbzy.jpg")
          span Matsuo Basho
  section.section-about-b
    .container
      h2.heading-a-top.text-center Lorem Ipsum
      p.paragraph-a.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus 
        consequat odio. Suspendisse quis elit lorem. Nunc condimentum est eu felis 
        pellentesque, ut porttitor purus bibendum. Nulla pretium volutpat iaculis. 
        Praesent quis cursus lorem. Phasellus nec est sed diam viverra elementum id 
        sed turpis. Aenean id est eros.
      h3.heading-a2.text-center Lorem Ipsum
      ol
        li Lorem Ipsum
        li Lorem Ipsum
        li Lorem Ipsum
  section.section-about-c
    .container
      h2.heading-a-top Lorem Ipsum
      .row
        .col-sm-6
          img(alt="Basho Frog", src="http://res.cloudinary.com/dud5wowp2/image/upload/v1508267643/basho-frog_ptirgq.jpg")
        .col-sm-6
          p.paragraph-a.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus 
            consequat odio. Suspendisse quis elit lorem. Nunc condimentum est eu felis 
            pellentesque, ut porttitor purus bibendum. Nulla pretium volutpat iaculis. 
            Praesent quis cursus lorem. Phasellus nec est sed diam viverra elementum id 
            sed turpis. Aenean id est eros.
