extends default

block content
  section.section-add-haiku-heading
    h1 #{title}
  section.section-add-haiku-a
    .container
      form(method='POST', action='/haikus/add')
        .form-group
          label Title:
          input.form-control(name='title', type='text')
        .form-group
          label Image URL:
          input.form-control(name='imageURL', type='text')
        hr
        .form-group
          label Line 1:
          #line1Syl
          input.form-control#line1(name='line1', type='text')
        .form-group
          label Line 2:
          #line2Syl
          input.form-control#line2(name='line2', type='text')
        .form-group
          label Line 3:
          #line3Syl
          input.form-control#line3(name='line3', type='text')
        hr
        input.btn.btn-custom(type='submit',value='Submit')
