extends default

block content
  section.section-add-haiku-heading
    .block-angled
    h1 #{title}
  section.section-add-haiku-a
    .container
      form(method='POST', action='/haikus/add')
        input#haiku-img-url(type='hidden', name='haikuUrl', value='/images/haiku-default.png')
        .form-group
          label Title:
          input.form-control(name='title', type='text')
        img#preview(src='/images/haiku-default.png', alt='avatar')
        .form-group
          label(for='haiku-img-input') Change image
          input#haiku-img-input.form-control-file(type='file', name='haikuImgInput', accept='.jpg, .jpeg, .png')
        .preview
          p#status Please select a file
        hr
        .form-group
          label Line 1:
          #line1Syl
          input.form-control#line1(name='line1', type='text')
        .form-group
          label Line 2:
          #line2Syl
          input.form-control#line2(name='line2', type='text')
        .form-group
          label Line 3:
          #line3Syl
          input.form-control#line3(name='line3', type='text')
        hr
        input.btn.btn-custom(type='submit',value='Submit')
