extends default

block content
  h1 #{title}
  form(method='POST', action='/haikus/add')
    .form-group
      label Title:
      input.form-control(name='title', type='text')
    .form-group
      label Line 1:
      input.form-control(name='line1', type='text')
    .form-group
      label Line 2:
      input.form-control(name='line2', type='text')
    .form-group
      label Line 3:
      input.form-control(name='line3', type='text')
    input.btn.btn-primary(type='submit',value='Submit')
