doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    title Queue - Haiku
    //- Normalize css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', rel='stylesheet')
    //- Bootstrap css
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //- Custom Styles
    link(href='/css/main.css', rel='stylesheet',)
    //- Google fonts
    link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700", rel="stylesheet")
    //- Font awesome
    script(src='https://use.fontawesome.com/ca1dfe0972.js')
  body
    header
      nav.navbar.navbar-inverse
        .container
          .navbar-header
            .navbar-wrapper
              a.navbar-brand(href='/')
                img.logo(src='/images/qh-logo.png')
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a.nav-link(href='/') About
              li
                a.nav-link(href='/') The Queue
              li
                a.nav-link(href='/haikus/add') Add Haiku 
            ul.nav.navbar-nav.navbar-right
              
    .message-block
      if messages.length > 0
        .message-wrapper
          .icon-wrapper
            i.icon-close.fa.fa-window-close.fa-2x(aria-hidden='true')
          != messages('message', locals)
      if errors
        .error-wrapper
          .icon-wrapper
            i.icon-close.fa.fa-window-close.fa-2x(aria-hidden='true')
          each error, i in errors
            div(class='alert alert-danger') #{error.msg}
    block content
    footer
      .container
        p Copyright &copy; 2017
        a(href='http://devhominid.com', target='_blank')
          img.signature(src='/images/signature.png')
    script(src='/js/jquery-3.1.1.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/delete-haiku.js')
    script(src='/js/syllable.js')
    script(src='/js/messages.js')
    
