extends default

block content
  h1= haiku.title
  h4 Written by #{author}
  p= haiku.body
  hr
  a.btn.btn-default(href='/haikus/edit/'+haiku._id) Edit
  a.btn.btn-danger.delete-haiku(href='#',data-id=haiku._id) Delete
