extends default

block content
  section.section-index
    .heading-block
      h1 Queue Haiku
      span.line-h
      span.line-v
      .link-block
        if user
          a(href='/users/profile/'+user._id) Profile
          a(href='/users/logout') Logout
        else
          a(href='/users/register') Register
          a(href='/users/login') Login
  section.section-index-b
    .haiku-box
      h2 Featured Haikus 
      ul.list-group
        each haiku, i in haikus
          li.list-group-item
            a(href='/haikus/'+haiku._id)= haiku.title
      a(href='/haikus/queue') See All
    
