extends default

block content
  .section-queue-heading
    h1 #{title}
  .section-queue-a
    .container
      h2 Filter By
      form(method='POST', action='/haikus/queue')
        if filterSelected === 'oldest'
          select(name='filterOptionValue')
            option(value= 'most recent') most recent
            option(value= 'oldest' selected) oldest
            option(value= 'most praised') most praised
        else if filterSelected === 'most praised'
          select(name='filterOptionValue')
            option(value= 'most recent') most recent
            option(value= 'oldest') oldest
            option(value= 'most praised' selected) most praised
        else 
          select(name='filterOptionValue')
            each filterOption in filterOptions
              option(value= filterOption) #{filterOption}
        input.btn.btn-custom(type='submit',value='Go')
  .section-queue-b
    .container
      ul.list-group
        each haiku, i in haikus
          li.list-group-item
            a(href='/haikus/'+haiku._id)= haiku.title
    
    
    
