extends default

block content
  section.section-register
    .container
      .register-block
        h1 Register
        form(method='POST', action='/users/register')
          .row
            .col-sm-6
              .form-group
                label First:
                input.form-control(name='first', type='text')
            .col-sm-6
              .form-group
                label Last:
                input.form-control(name='last', type='text')
          .form-group
            label Email:
            input.form-control(name='email', type='text')
          .form-group
            label Username:
            input.form-control(name='username', type='text')
          .form-group
            label Password:
            input.form-control(name='password', type='password')
          .form-group
            label Confirm password:
            input.form-control(name='password2', type='password')
          input.btn.btn-custom(type='submit',value='Submit')
