/* * * * main.css * * * */
/* Dylan Ross Ludwick
/* v 0.0.1
*/

/* * Base Styles * */

html {
  font-size: initial;
}

body {
  min-height: 100vh;
  font-size: initial;
}

section {
  min-height: 85vh;
  padding: 1.250em 0;
}

.btn-custom {
  color: #fff;
  background: rgba(175, 109, 96, 0.5);
}
.btn-custom:hover {
  color: #fff;
  background: rgba(175, 109, 96, 1.0);
  border: 1px solid #e8cca5;
}

/* * Animation Styles * */
@keyframes slideRight {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideDown {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 10px;
  }
}

@keyframes openUp {
  from {
    max-width: 0%;
  }

  to {
    max-width: 90%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

/* * Header Styles * */
header {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1.0)), url("../images/water-cover.jpg");
  background-size: cover;
  background-position: 50% 38%;
}

.navbar.navbar-inverse {
  border-radius: 0;
  background: none;
  margin-bottom: 0;
  border: none;
  height: 100%;
}

.navbar.navbar-inverse .container {
  height: 100%;
}

.navbar-header {
  height: 100%;
}

.navbar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-collapse.in {
  position: relative;
  z-index: 2;
  background: #70443a;
}

.navbar-collapse.collapsing {
  position: relative;
  z-index: 2;
  background: #70443a;
}

.navbar-toggle {
  height: 40px;
  background: #70443a;
  border: none;
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

@media screen and (min-height: 50em) {
  /* 800 / 16 = 50 */
  .logo {
    width: 125px;
  }
}

@media screen and (min-height: 75em) {
  /* 1200 / 16 = 75 */
  .logo {
    width: 150px;
  }
}

a.nav-link {

}
a.nav-link:hover {
  color: #e8cca5!important;
}

/* * Section Styles * */

/* Index Section */
.section-index {
  background: linear-gradient(rgba(112, 68, 58, 0.3), rgba(112, 68, 58, 0.3)), url("http://res.cloudinary.com/dud5wowp2/image/upload/v1505338106/zen-cover-2_hruf66.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.haiku-box {
  background: rgba(216, 216, 216, 0.65);
  min-height: 55vh;
  padding: 1em 1.25em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  animation: openUp 1.5s ease-out;
}

@media screen and (min-width: 43.75em) {
  .haiku-box {
    width: 70%;
  }
}

@media screen and (min-width: 68.75em) {
  .haiku-box {
    width: 55%;
  }
}

.haiku-box h1 {
  margin-top: 0;
  animation: appear 1.5s;
}

.haiku-box ul {
  animation: appear 1.5s;
}

/* Haiku Section */
.section-haiku {

}

/* Login Section */
.section-login {
  background: linear-gradient(rgba(112, 68, 58, 0.3), rgba(112, 68, 58, 0.3)), url("../images/water-cover-2.jpg");
  background-size: cover;
}

.section-login .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.section-login .container .login-block {
  width: 100%;
}

.login-quote {
  display: flex;
  flex-direction: column;
  border-color: #c1975d;
  animation: slideRight 1s;
}

@media screen and (min-width: 21.875em) {
  /* 350 / 16 = 21.875 */
  .login-quote {
    flex-direction: row;
  }
}

.login-quote a img {
  width: 75px;
  animation: slideRight 1.5s;
}

@media screen and (min-width: 21.875em) {
  /* 350 / 16 = 21.875 */
  .login-quote a img {
    width: 100px;
  }
}

span.quote-lead {
  position: relative;
  padding-left: 2.5em;
  margin-top: 1.25em;
}

@media screen and (min-width: 21.875em) {
  /* 350 / 16 = 21.875 */
  span.quote-lead {
    margin-top: 0;
  }
}

span.quote-lead p {
  animation: slideDown 1s;
}

span.quote-lead::before{
  font-family:Arial;
  content: "\201C";
  color:#af6d60;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-20px;
}

.login-quote::after{
  content: '';
}

.quote-signature {
  font-style: italic;
}

/* * Footer Styles * */
footer {
  height: 10vh;
  background: #70443a;
}

footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

footer .container p {
  margin-right: 30px;
  margin-bottom: 0;
  color: #fff;
}

.signature {
  width: 175px;
}
