/* * * * main.css * * * */
/* Dylan Ross Ludwick
/* v 0.0.1
*/

body {
  min-height: 100vh;
}

/* Header Styles */
header {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1.0)), url("../images/water-cover.jpg");
  background-size: cover;
  background-position: 50% 38%;
}

.navbar.navbar-inverse {
  border-radius: 0;
  background: none;
  margin-bottom: 0;
  border: none;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-collapse.in {
  position: relative;
  z-index: 2;
  background: #70443a;
}

.navbar-collapse.collapsing {
  position: relative;
  z-index: 2;
  background: #70443a;
}

.navbar-toggle {
  height: 40px;
  background: #70443a;
  border: none;
}

.navbar-brand {
  height: auto;
}

.logo {
  width: 125px;
}

a.nav-link {

}
a.nav-link:hover {
  color: #e8cca5!important;
}

/* Section Styles */
section {
  height: 85vh;
}

.section-index {
  background: linear-gradient(rgba(112, 68, 58, 0.3), rgba(112, 68, 58, 0.3)), url("http://res.cloudinary.com/dud5wowp2/image/upload/v1505338106/zen-cover-2_hruf66.jpg");
  background-size: cover;
}

.section-index .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.haiku-box {
  background: rgba(216, 216, 216, 0.65);
  width: 100%;
  min-height: 55vh;
  padding: 1em 1.25em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.haiku-box h1 {
  margin-top: 0;
}

/* Footer Styles */
footer {
  height: 10vh;
  background: #70443a;
}

footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

footer .container p {
  margin-right: 30px;
  margin-bottom: 0;
  color: #fff;
}

.signature {
  width: 175px;
}
