/* * * Base Styles * * */

html {
  font-size: initial;
}

body {
  min-height: 100vh;
  font-size: initial;
}

.message-block {

  .message-wrapper {
    position: absolute;
    display: none;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em; // 20 ÷ 16
    z-index: 2;
    padding: 1.25em 1.25em 0 1.25em; // 20 ÷ 16
    background: rgba(68, 55, 48, 0.8);
    border-radius: 4px;
  }

  .error-wrapper {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em; // 20 ÷ 16
    z-index: 2;
    padding: 1.25em 1.25em 0 1.25em; // 20 ÷ 16
    background: rgba(68, 55, 48, 0.8);
    border-radius: 4px;
  }

  .icon-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  i {
    margin-bottom: 1.25rem; // 20 ÷ 16
    color: #fff;
    position: relative;
  }
  i:hover {
    cursor: pointer;
    color: #fff;
  }

  .alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}
