/* * * Mixins * * */

/* * Section w/ header padding * */
@mixin section-header-pad() {
  padding-top: calc(125px + 0em);
  padding-bottom: 2.50em; // 20 ÷ 16
}

/* * Section Headings * */
@mixin section-heading($color1, $color2, $url) {
  overflow: hidden;
  background: linear-gradient($color1, $color2), url($url);
  background-size: cover;
  background-position: center;
  height: 250px;
}

/* * Section Headings - h1 * */
@mixin section-heading-h1() {
  margin-top: 7.50rem; // 120 ÷ 16
  margin-bottom: 2.50rem; // 40 ÷ 16
  font-family: $font-title;
  font-weight: 700; // Bold
  font-size: 4.5em; // 74 ÷ 16
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
}

@mixin section-a($background-color) {
  padding: 2.50em 0; // 40 ÷ 16
  overflow: hidden;
  background: $background-color;
}

@mixin section-b($background-color) {
  padding-bottom: 2.50em; // 40 ÷ 16
  overflow: hidden;
  background: $background-color;
}

@mixin container-a() {
  width: 100%;

  @media screen and (min-width: 29.688em) {
    // 475 ÷ 16
    width: 90%;
  }

  @media screen and (min-width: 40.625em) {
    // 650 ÷ 16
    width: 70%;
  }
}

@mixin heading-a($size) {
  font-family: $font-title;
  font-weight: 700; // Bold
  font-size: $size;
  text-transform: uppercase;
}

@mixin paragraph-a() {
  font-family: $font-base;
  font-size: 1.25em; // 20 ÷ 16
  font-weight: 300; // Light
  line-height: 1.5;
}

/* * Vertical & horizontal centering - flexbox polyfill * */
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

/* * Nav-links * */
@mixin nav-link($size) {
  position: relative;
  margin-left: 0.625em; // 10 ÷ 16
  margin-right: 0.625em; // 10 ÷ 16
  padding: 0.625em 0 0.313em 0!important; // 10 ÷ 16, 5 ÷ 16
  font-family: $font-title;
  font-size: $size;
  font-weight: 400; // Normal;
  color: #fff!important;
}


/* * Link hover underline effect - 3 parts * */
/* a {} */
@mixin link-underline-el() {
  text-decoration: none;
  position: relative;
}

/* a:after {} */
@mixin link-underline-pseudo($border-width, $border-style, $border-color, $trans-time) {
  content : '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: $border-width $border-style $border-color;
  transition: $trans-time;
}

/* a:hover:after {} */
@mixin link-underline-pseudo-hov() {
  width: 100%;
}
