/* * * Variables * * */

/* * Fonts * */
$font-title: 'Amatic SC', cursive;
$font-base: 'Josefin Sans', sans-serif;

/* * Colors * */
$earth-dark: #443730;
$earth-mid: #786452;
$earth-light: #e8cca5;
$earth-red: #af6d60;

$green-dark: #626d58;
$green-light: #77966d;
