/* * * Variables * * */

/* * Fonts * */
$font-title: 'Amatic SC', cursive;
$font-base: 'Josefin Sans', sans-serif;

/* * Colors * */
$earth-dark: #443730;
$earth-mid: #8F7E6F;
$earth-light: #F7F0E3;
$earth-lightest: #F7F0E3;

$earth-red: #b56357;

$green-dark: #626d58;
$green-light: #7E9E73;

/* * Spacing * */
$space-x: 1.25em; // 20 ÷ 16
$space-2x: 1.25em; // 20 ÷ 16
