/* * * Variables * * */

/* * Fonts * */
$font-title: 'Amatic SC', cursive;
$font-base: 'Josefin Sans', sans-serif;

/* * Colors * */
$earth-dark: #443730;
$earth-mid: #7F7063;
$earth-light: #e8d3b7;
$earth-lightest: #E5D8C7;

$earth-red: #b56357;

$green-dark: #626d58;
$green-light: #abceae;
