/* * * Footer Styles * * */

footer {
  height: 10vh;
  background: #443730;
}

footer {

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    p {
      margin-right: 30px;
      margin-bottom: 0;
      color: #fff;
    }
  }
}

.signature {
  width: 175px;
}
