/* * Header Styles * */

header {
  height: 125px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*background: linear-gradient(rgba(68, 55, 48, 0.9), rgba(68, 55, 48, 0.9));*/
  background: none;
  background-size: cover;
  background-position: 50% 38%;
}

.navbar.navbar-inverse {
  border-radius: 0;
  background: none;
  margin-bottom: 0;
  border: none;
  height: 100%;
}

.navbar.navbar-inverse {
  .container {
    height: 100%;
    position: relative;
  }
}

.navbar-header {
  height: 100%;
}

.navbar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-collapse.in {
  position: relative;
  z-index: 2;
  background: #70443A;
}

.navbar-collapse.collapsing {
  position: relative;
  z-index: 2;
  background: #70443A;
}

.navbar-toggle {
  height: 40px;
  background: none;
  border: none;
}

.navbar-toggle:focus, .navbar-toggle:hover  {
  background: none!important;
  border: none;
}

.navbar-toggle {
  position: relative;
  z-index: 5;

  span.icon-bar {
    background-color: #70443A!important;
  }
}

.navbar-brand {

}

.logo {
  width: 100px;

  @media screen and (min-width: 25em) and (min-height: 25em) {
    // 400 ÷ 16
    width: 150px;
  }
}

a.nav-link {
  @include nav-link(2.25em);
  @include link-underline-el();
}
a.nav-link:after {
  @include link-underline-pseudo(2px, solid, #e8cca5, 0.4s);
}
a.nav-link:hover {
  color: #e8cca5!important;
}
a.nav-link:hover:after {
  @include link-underline-pseudo-hov();
}

ul.navbar-right {

  li {
    padding-top: 0.625em; // 10 ÷ 16
  }

  button {
    background: none;
    border: none;
  }

  img {
    height: 50px;
    margin-right: 0.313em; // 5 ÷ 16
  }

  i {
    font-size: 2.25em; // 36 ÷ 16
  }
  i:hover {
    color: #fff;
  }
}

#navbar-user {
  position: absolute;
  top: calc(0.625em + 60px);
  right: 0;
  z-index: 2;
  width: 15%;
  background: #222;
  border-radius: 7px;
  padding-left: 0.625em; // 10 ÷ 16
  padding-right: 0.625em; // 10 ÷ 16

  h3 {
    font-family: $font-title;
    font-weight: 700; // Bold
    color: #fff;
    text-align: center;
  }

  span {
    display: block;
    width: 100%;
    font-family: $font-base;
    font-weight: 300; // Light
    font-size: 1.00em; // 16 ÷ 16
    text-align: center;
    color: #fff;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  a {
    @include nav-link(1.25em);
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0;
  }
  a:hover {
    color: $earth-light!important;
  }
}

#navbar-mobile {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: $earth-dark;
  z-index: 4;
  padding-top: 1.25em; // 20 ÷ 16
  padding-bottom: 1.25em; // 20 ÷ 16

  .navbar-mobile-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-mobile-header {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 50px;
    height: 100%;

    @media screen and (min-width: 34.375em) {
      // 550 ÷ 16
      width: 100px;
    }
  }

  .mobile-credentials {
    margin-left: 1.25em; // 20 ÷ 16

    h3 {
      font-family: $font-base;
      font-size: 1em; // 16 ÷ 16
      font-weight: 700; // Bold
      color: #fff;
      margin-top: 0;
      margin-bottom: 0.625rem; // 10 ÷ 16

      @media screen and (min-width: 34.375em) {
        // 550 ÷ 16
        font-size: 2em; // 32 ÷ 16
      }
    }

    span {
      font-family: $font-base;
      font-size: 0.75em; // 12 ÷ 16
      color: #fff;
      font-weight: 300; // Light

      @media screen and (min-width: 34.375em) {
        // 550 ÷ 16
        font-size: 1.75em; // 28 ÷ 16
      }
    }
  }

  ul {
    padding: 0;
  }

  li {

    a {
      @include nav-link(2.25em);
      @include link-underline-el();
      padding-top: 0!important;
      padding-bottom: 2px!important;
    }
    a:after {
      @include link-underline-pseudo(2px, solid, #e8cca5, 0.4s);
    }
    a:hover {
      color: #e8cca5!important;
    }
    a:hover:after {
      @include link-underline-pseudo-hov();
    }
  }
}
